@import '../../../../assets/colores.scss';

.login {
    height: 100%;
    padding-top: 5rem;
    background-color: $color-secundario;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        background-color: $color-terciario;
        height: 75%;
        width: 75%;
        padding: 0;
        display: flex;
        position: relative; /* Asegúrate de que la sección contenedora sea el contexto de z-index */

        .img-section {
            height: 100%;
            width: 50%;
            display: flex;
            position: absolute; /* Configurar posición absoluta para superponerse */
            right: 0; /* Asegúrate de que esté donde debe estar */
            z-index: 10; /* Z-index alto para asegurar que esté por encima */
            transition: all 1s ease;

            .img-bg {
                width: 100%;
            }

            .bar {
                position: absolute;
                height: 110%;
                width: 1.4rem;
                top: -5%;
                transition: all 1s ease;
            }

            .bar1 {
                background-color: #0ba3a6;
                right: 17%;
            }

            .bar2 {
                background-color: $color-primario;
                right: 23%;
            }
        }

        .loginForm {
            z-index: 5;
            position: relative; 
        }
    }
}
